.app {
  max-width: 80rem;
}

/* section {
  display: flex;
} */

section.content {
  display: flex;
}

.content {
  display: felx;
}

.detail {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  section.content {
    flex-direction: column;
  }
}
